.first {
    background-color: #f9f6f5;
}

.header {
    padding: 40px 0px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo {
    cursor: pointer;
}


.nav ul {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.blocks {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu-line {
    width: 100%;
    border: 1px solid black;
    position: relative;
    margin-top: 9px;
}


.menu-line::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -1px;
    border: 1px solid black;
    width: 80%;
}

.menu-line::before {
    content: "";
    position: absolute;
    bottom: 6px;
    right: -1px;
    border: 1px solid black;
    width: 80%;
}